1) features that will affect the buying behaviour are: 
City,	StateProvinceName,	CountryRegionName,	PostalCode,	PhoneNumber,	BirthDate,	Education,	Occupation,	Gender,	MaritalStatus,	HomeOwnerFlag,	NumberCarsOwned,	NumberChildrenAtHome,	TotalChildren,	YearlyIncome

In [24]:
import pandas as pd
import numpy as np

In [27]:
df=pd.read_csv('/content/AWCustomers.csv')
df.drop(['CustomerID','Title','FirstName','MiddleName','LastName','Suffix','AddressLine1','AddressLine2','LastUpdated'],axis=1,inplace=True)
df.head()

,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1.0,3.0,0.0,1.0,81916.0
1,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1.0,2.0,1.0,2.0,81076.0
2,West Covina,California,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0.0,3.0,0.0,0.0,86387.0
3,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1.0,2.0,1.0,2.0,61481.0
4,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1.0,1.0,0.0,0.0,51804.0

City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,	NumberChildrenAtHome,TotalChildren,YearlyIncome 

**continuous attributes:** yearly income

**discrete attributes:**  postal code, phone number, birth date, number of cars owned, number of children at home, total children

**nominal attributes:** City,StateProvinceName,CountryRegionName,Occupation,Gender,MaritalStatus,HomeOwnerFlag

**ordinal attributes:** yearly income

**interval:** postal code, birth date, yearly income

**range:** number of children at home, total children,Number of cars owned

In [26]:
df.dropna()

,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1.0,3.0,0.0,1.0,"(0.333, 0.667]"
1,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1.0,2.0,1.0,2.0,"(0.333, 0.667]"
2,West Covina,California,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0.0,3.0,0.0,0.0,"(0.333, 0.667]"
3,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1.0,2.0,1.0,2.0,"(-0.001, 0.333]"
4,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1.0,1.0,0.0,0.0,"(-0.001, 0.333]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11782,Bobigny,Seine Saint Denis,France,93000,1 (11) 500 555-0112,1961-07-19,Partial College,Manual,F,S,1.0,1.0,1.0,1.0,"(-0.001, 0.333]"
11783,Colma,California,United States,94014,353-555-0119,1992-03-13,Graduate Degree,Management,M,S,0.0,2.0,0.0,0.0,"(0.667, 1.0]"
11784,Shawnee,British Columbia,Canada,V8Z 4N5,781-555-0161,1976-05-02,Partial College,Manual,M,M,1.0,1.0,0.0,1.0,"(-0.001, 0.333]"
11785,Roissy en Brie,Seine et Marne,France,77680,1 (11) 500 555-0119,1966-08-03,Bachelors,Management,M,M,1.0,0.0,0.0,2.0,"(0.667, 1.0]"
11786,Milwaukie,Oregon,United States,97222,321-555-0165,1975-06-01,High School,Skilled Manual,M,S,1.0,1.0,0.0,0.0,"(-0.001, 0.333]"

In [32]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['YearlyIncome']=scaler.fit_transform(df['YearlyIncome'].values.reshape(-1,1)).flatten()

ValueError: ignored

In [30]:
bins=np.linspace(min(df['YearlyIncome']),max(df['YearlyIncome']),4)

group_names=['poor','average','rich']

df['YearlyIncome']=pd.cut(df['YearlyIncome'],bins,group_names,include_lowest=True)

In [33]:
onehotencoder = OneHotEncoder()
onehotencoder.fit_transform(df)

<11788x13201 sparse matrix of type '<class 'numpy.float64'>'
	with 176820 stored elements in Compressed Sparse Row format>

In [34]:
df.corr()

,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren
HomeOwnerFlag,1.000000,0.202841,0.372930,0.578898
NumberCarsOwned,0.202841,1.000000,0.016433,0.018703
NumberChildrenAtHome,0.372930,0.016433,1.000000,0.609808
TotalChildren,0.578898,0.018703,0.609808,1.000000